<app-filter-texbox (changed)="filter($event)"></app-filter-texbox>
<br>
<br>

<div>
    <table class="table table-hover">
        <thead>
            <th>Descripcion</th>
            <th>Cantidad</th>
        </thead>
            <tbody>
                <tr *ngFor="let category of filteredCategories">
                    <td>{{ category.description | titlecase }}</td>
                    <td>{{ category.total }}</td>
                </tr>
            </tbody>
        
    </table>
</div>
<br>
<p *ngIf="filteredCategories && filteredCategories.length === 0">No se encontraron categorias!</p>
<br>
<div>
  Cantidad de productos: {{ total }}
</div>
